@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: #0066cc;
  border-color: #0066cc;
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: relative;
  top: -1px; /* Ajusta este valor según necesites */
  left: 4px;
}




.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.snap {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.snap::-webkit-scrollbar {
  display: none;
}

.snap > img {
  scroll-snap-align: center;
}

@layer components {
    .bg-primary {
      background-color: #1D4ED8; /* Cambia esto por el color que desees */
    }
  }
  
  @layer components {
    .border-primary {
      border-color: #1D4ED8; /* Cambia esto por el color que desees */
    }
  }
  
  
.navbarTogglerActive > span:nth-child(1) {
  @apply top-[7px] rotate-45;
}

.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}

.navbarTogglerActive > span:nth-child(3) {
  @apply -top-2 rotate-[135deg];
}

input:checked ~ .dot {
  @apply translate-x-full bg-primary;
}

input:checked ~ .dot .active {
  @apply block;
}

input:checked ~ .dot .inactive {
  @apply hidden;
}

input#toggleFour:checked ~ .box {
  @apply bg-primary;
}

input#toggleFour:checked ~ .dot {
  @apply translate-x-full bg-white;
}

input#toggleFive:checked ~ .dot {
  @apply translate-x-full bg-white;
}

input#toggleFive:checked ~ .dot > span {
  @apply bg-primary;
}

input#toggleSix:checked ~ .dot {
  @apply translate-x-full bg-white;
}

input#toggleEight:checked ~ .box {
  @apply bg-[#EAEEFB];
}

input#toggleEight:checked ~ .dot {
  @apply bg-primary;
}

input#toggleEight:checked ~ .dot span {
  @apply border-white bg-primary;
}

input#toggleNine:checked ~ .dot span {
  @apply bg-white;
}

input#toggleNine:checked ~ .dot {
  @apply bg-primary;
}

input:checked ~ .box {
  @apply border-primary;
}

input#checkboxLabelOne:checked ~ .box {
  @apply border-primary;
}

input#checkboxLabelOne:checked ~ .box .dot {
  @apply bg-primary;
}

input#checkboxLabelTwo:checked ~ .box span {
  @apply opacity-100;
}

input#checkboxLabelThree:checked ~ .box span {
  @apply opacity-100;
}

input#checkboxLabelFour:checked ~ .box {
  @apply border-primary;
}

input#checkboxLabelFour:checked ~ .box span {
  @apply bg-primary;
}

input#checkboxLabelFive:checked ~ .box {
  @apply bg-primary;
}

.shape-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(196, 196, 196, 0) 100%
  );
}

/* v-2.0 start from here */
.container {
  @apply mx-auto px-4;
}
input[type="checkbox"]:checked ~ .box span {
  @apply opacity-100;
}

input[type="radio"]:checked ~ .box .circle {
  @apply bg-primary;
}

input[type="radio"]:checked ~ .box span {
  @apply opacity-100;
}

.payment:checked ~ label {
  @apply border-primary bg-primary bg-opacity-[8%];
}

.shipping:checked ~ label {
  @apply border-primary;
}

.shipping:checked ~ label .title {
  @apply text-primary;
}

.color:checked ~ label span {
  @apply h-2 w-2;
}

.productColor:checked ~ label span {
  @apply h-7 w-7;
}

.productColor2:checked ~ label span {
  @apply h-3 w-3;
}

.filter-size:checked ~ label {
  @apply border-primary bg-primary text-white;
}

.filter-size-2:checked ~ label {
  @apply border-primary bg-primary bg-opacity-10;
}

.ram-size:checked ~ label {
  @apply border-primary text-primary;
}

.download-radio:checked ~ label {
  @apply border-primary bg-primary;
}
.download-radio:checked ~ label span {
  @apply text-white;
}
.download-radio:checked ~ label .icon {
  @apply opacity-100;
}

/* ============
=============== */

.priceSlideOne .noUi-target {
  @apply mt-8 border-none bg-[#f4f7ff] shadow-none;
}

.priceSlideOne .noUi-connects {
  @apply h-[6px] rounded-full bg-[#D4D9E8];
}

.priceSlideOne .noUi-connect {
  @apply h-[6px] rounded-full bg-primary;
}

.priceSlideOne .noUi-horizontal .noUi-handle {
  @apply -top-2 h-[22px] w-[22px] rounded-full border-[6px] border-primary bg-white;
}

.priceSlideTwo .noUi-target {
  @apply mt-8 border-none bg-white shadow-none;
}

.priceSlideTwo .noUi-connects {
  @apply h-1 rounded-full bg-[#D4D9E8];
}

.priceSlideTwo .noUi-connect {
  @apply h-1 rounded-full bg-primary;
}

.priceSlideTwo .noUi-horizontal .noUi-handle {
  @apply -top-3 h-[30px] w-[30px] rounded-full border border-primary bg-white;
}

.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before {
  @apply hidden;
}

#activityChart .apexcharts-legend-series {
  @apply !mr-5;
}

/* ======= Switch ======= */
.autoSaverSwitch input:checked ~ .slider {
  @apply bg-primary;
}
.autoSaverSwitch input:checked ~ .slider .dot {
  @apply translate-x-6;
}
.autoSaverSwitch input:checked ~ .label .on {
  @apply block;
}
.autoSaverSwitch input:checked ~ .label .off {
  @apply hidden;
}

.themeSwitcherTwo input:checked ~ .light {
  @apply bg-transparent text-body-color;
}
.themeSwitcherTwo input:checked ~ .dark {
  @apply bg-gray-1 text-primary;
}

.themeSwitcherTwo input:checked ~ .slider {
  @apply bg-black;
}
.themeSwitcherTwo input:checked ~ .slider .dot {
  @apply translate-x-[28px];
}

.themeSwitcherThree input:checked ~ div .light {
  @apply bg-white text-body-color;
}
.themeSwitcherThree input:checked ~ div .dark {
  @apply bg-primary text-white;
}

/* box-select-1 */

.checkbox-list:checked ~ label {
  @apply border-primary bg-primary;
}

.checkbox-list:checked ~ label .icon {
  @apply opacity-100;
}

.box-select-1:checked ~ label .box {
  @apply border-primary bg-primary;
}
.box-select-1:checked ~ label .box .icon {
  @apply opacity-100;
}
.box-select-1:checked ~ label div.user-box {
  @apply bg-gray-2;
}

.select-list:checked ~ label {
  @apply border-primary text-primary;
}
.select-list:checked ~ label .icon {
  @apply bg-primary;
}

.tableCheckbox:checked ~ label .icon-box {
  @apply border-primary bg-primary;
}

.tableCheckbox:checked ~ label .icon {
  @apply opacity-100;
}

.tableCheckbox-2:checked ~ label {
  @apply border-primary bg-primary;
}
.tableCheckbox-2:checked ~ label .icon {
  @apply text-white opacity-100;
}

/* Maps */
.jvm-zoom-btn {
  @apply bottom-0 left-auto top-auto flex h-8 w-8 items-center justify-center rounded border-[.5px] border-stroke bg-gray-1 font-semibold leading-none text-body-color hover:border-primary hover:bg-primary hover:text-white;
}

.mapOne .jvm-zoom-btn {
  @apply bottom-0 left-auto top-auto;
}
.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-9;
}
.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}

.mapTwo .jvm-zoom-btn {
  @apply bottom-0 top-auto;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-9;
}

.mapFour .jvm-zoom-btn {
  @apply -top-20;
}
.mapFour .jvm-zoom-btn.jvm-zoomin {
  @apply right-9;
}
.mapFour .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}

/*Start Animations*/
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*Start Animations*/
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/
/* CSS */
.area {
	background: #1D4ED8;
	background: -webkit-linear-gradient(to left, #8f94fb, #1D4ED8);
	width: 100%;
	height: 70vh;
	position: relative;
	z-index: 0;
  }
  
  .area.small-screen {
	height: 105vh; /* Ajustar la altura cuando sea una pantalla pequeña */
  }
  
  .circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 96%;
	overflow: hidden;
  }
  
  .circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: white;
	animation: animate 8s linear infinite;
	bottom: -150px;
  }
  
  .circles li:nth-child(1) {
	left: 25%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
	left: 40%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
	animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
	left: 75%;
	width: 60px;
	height: 60px;
	animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
	left: 35%;
	width: 60px;
	height: 60px;
	animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
	left: 85%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 11s;
  }
  
  @keyframes animate {
	0% {
	  transform: translateY(0) rotate(0deg);
	  border-radius: 0;
	}
	100% {
	  transform: translateY(-1000px) rotate(720deg);
	  border-radius: 50%;
	}
  }
  
/*
-- End BackGround Animation 
*/

.teachers {
	background: #1D4ED8;
	background: -webkit-linear-gradient(to left, #8f94fb, #1D4ED8);
	width: 100%;
	height: 70vh;
	position: relative;
	z-index: 0;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 96%;
	overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: white; /* Cambiado a blanco */
  animation: animate 8s linear infinite;
  bottom: -150px;
}


.circles li:nth-child(1) {
	left: 25%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 40px; /* Reducido el tamaño */
	height: 40px; /* Reducido el tamaño */
	animation-delay: 0s;
	animation-duration: 18s;
}
.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 60px; /* Reducido el tamaño */
	height: 60px; /* Reducido el tamaño */
	animation-delay: 3s;
}


.circles li:nth-child(7) {
	left: 35%;
	width: 60px; /* Reducido el tamaño */
	height: 60px; /* Reducido el tamaño */
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 60px; /* Reducido el tamaño */
	height: 60px; /* Reducido el tamaño */
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		border-radius: 50%;
	}
}
@keyframes changeColor {
	0% {
	  color: #1D4ED8; /* Color inicial */
	  text-shadow: 0 0 10px #1D4ED8; /* Sombra inicial */
	}
	50% {
	  color: #3B82F6; /* Color intermedio */
	  text-shadow: 0 0 15px #3B82F6; /* Sombra intermedia */
	}
	100% {
	  color: #93C5FD; /* Color final */
	  text-shadow: 0 0 20px #93C5FD; /* Sombra final */
	}
  }
  
  .banner-text {
	animation: changeColor 3s infinite; /* Duración de la animación y repetición infinita */
  }
  
  .sale {
	font-weight: bold;
  }
  
  /* Dividir el texto en partes y aplicar colores */
  .banner-text span:nth-child(1) {
	color: #1D4ED8; /* Color inicial */
  }
  
  .banner-text span:nth-child(2) {
	color: #3B82F6; /* Color intermedio */
  }
  
  .banner-text span:nth-child(3) {
	color: #93C5FD; /* Color final */
  }
  
  